/ {
    zephyr,user {
        io-channels = <&adc 0>;
    };
    aliases {
        sw0 = &button0;
        led0 = &led0;
        led1 = &led1;
        vadc = &vadc;
    };
};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;

    vadc: channel@0 {
        reg = <0>;
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,gain = "ADC_GAIN_1_5";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>;
        zephyr,resolution = <12>;
    };
    status = "okay";
};